################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/v16
/Debug
/OpengGL/Debug
/Release
/x64/Debug
